*{
    margin : 0;
    padding: 0;
}

body{
    background-color: #548587;
    text-align: center;
} 

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    position: relative;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413b;
    background-color: #ffffff;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

h1{
    color: #F7C85C;
    font-size: 10vmin;
}

.mode-selection{
    margin-bottom: 2vmin;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.mode-btn{
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: #548587;
    color: #fff;
    border: 2px solid #191913;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.mode-btn.active{
    background-color: #191913;
}

.winning-line {
    position: absolute;
    background-color: #191913;
    border-radius: 1vmin;
    z-index: 10;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.line-0-1-2 { top: 10vmin; left: 1.5vmin; width: 57vmin; height: 1vmin; }
.line-3-4-5 { top: 29.5vmin; left: 1.5vmin; width: 57vmin; height: 1vmin; }
.line-6-7-8 { top: 49vmin; left: 1.5vmin; width: 57vmin; height: 1vmin; }

.line-0-3-6 { top: 1.5vmin; left: 10vmin; width: 1vmin; height: 57vmin; }
.line-1-4-7 { top: 1.5vmin; left: 29.5vmin; width: 1vmin; height: 57vmin; }
.line-2-5-8 { top: 1.5vmin; left: 49vmin; width: 1vmin; height: 57vmin; }

.line-0-4-8 { 
    top: 29.5vmin; left: -10vmin; 
    width: 80vmin; height: 1vmin; 
    transform: rotate(45deg); 
}
.line-2-4-6 { 
    top: 29.5vmin; left: -10vmin; 
    width: 80vmin; height: 1vmin; 
    transform: rotate(-45deg); 
}